{
  "env": {
    "development": {
      "presets": [
        [
          "es2015",
          {
            "loose": true,
            "modules": "commonjs"
          }
        ],
        "react"
      ],
      "sourceMaps": "inline"
    },
    "test": {
      "presets": [
        [
          "es2015",
          {
            "loose": true,
            "modules": "commonjs"
          }
        ],
        "react"
      ],
      "sourceMaps": "inline"
    },
    "rollup": {
      "presets": [
        [
          "es2015",
          {
            "loose": true,
            "modules": false
          }
        ],
        "react"
      ],
      "plugins": [
        "external-helpers"
      ]
    }
  }
}
