# A leading slash matches the root directory.
# A trailing slash ensures that only directories are matched and not files.

# OS/filesystem metadata files
.DS_Store

# IDE and user specific files
.idea/
*.iml
.vscode/

# NPM directories and related log files
node_modules/
npm-debug.log
yarn-error.log

# Generated build directories
/bin/
/out/
/coverage/
/docs/

# Exclude typescript output js files
**/typescript/**/*.js

# Generated source map files
*.js.map

# SonarQube directories
.scannerwork/
