# A leading slash matches the root directory.
# A trailing slash ensures that only directories are matched and not files.

# OS/filesystem metadata files
.DS_Store

# IDE and user specific files
*.iml
.idea/inspectionProfiles/
.idea/modules/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/libraries
.idea/misc.xml

# SonarQube plugin
.idea/sonarlint/
.scannerwork

# Build and output directories
/build/
/out/
/coverage/
/jest-cache/


# NPM directories and related log files
node_modules/
npm-debug.log
yarn-error.log

# Exclude typescript output js files
**/typescript/**/*.js

# Generated source map files
*.js.map
